<p> Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p> Account Balance: $<%= @user.money %></p>

<div class="row">
	<h2> List of people in need of help</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<td> Name </td>
			<td> Need Money for </td>
			<td> Reason for Loan</td>
			<td> Amount Needed </td>
			<td> Amount Raised </td>
			<td> Action </td>
		</tr>
	</thead>

	<tbody>
	<% @users.each do |user| %>
		<tr>
			<td> <%= user.first_name %> <%= user.last_name %></td>
			<td> <%= user.request %></td>
			<td> <%= user.description %></td>
			<td> $<%= user.money %></td>
			<td> $<%= user.amount_raised %></td>
			<td> <%= form_for(user, :url => '/lend') do |f| %> 
					<%= hidden_field(:user, :user_id, value:user.id) %>
					<%= f.label :money, "Amount Needed" %>
					<%= f.select( :money, (25 .. user.money).step(25).to_a, {}, {class: 'select'}) %>
					<%= f.submit "Lend", class: "btn "  %>
			</td> <% end %>
		</tr>
	<% end %>
	</tbody>
</table>
</div>

<div class="row">
	<h2> List of People you lent money to: </h2>
<table class="table table-striped">
	<thead>
		<tr>
			<td> Name </td>
			<td> Need Money For </td>
			<td> Reason for Loan</td>
			<td> Amount Needed</td>
			<td> Amount Raised</td>
			<td> Amount Lent </td>
		</tr>
	</thead>

	<tbody>
		<% @lent_to.each do |user| %>
		<tr>
			<td> <%= user.loan.first_name %> <%= user.loan.last_name %></td>
			<td> <%= user.loan.request %> </td>
			<td> <%= user.loan.description %> </td>
			<td> <%= user.loan.money %> </td>
			<td> <%= user.loan.amount_raised %> </td>
			<td> <%= user.amount_loaned %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>